type Query {
  catalog_series(id: ID!): CatalogSeries
  portfolio_group(id: ID!): PortfolioGroup
  service_item(id: ID!): ServiceItem
  restoration_item(id: ID!): RestorationItem
  about_topic(id: ID!): AboutTopic
  market_carforsale(id: ID!): MarketCarforsale
}

{{ range . }}
type {{.ObjType}} {
{{- range .Fields }}
  {{ .Name }}: {{ GetFieldType . }}
{{- end}}
}
{{ end }}
