type Query {
{{ range . }}
  {{.TableName}}(id: ID!): {{.ObjType}}
{{ end }}
}

type Mutation {
{{ range . }}
  create{{.ObjType}}(input: {{.ObjType}}Input): {{.ObjType}}
  update{{.ObjType}}(id: ID!, input:{{.ObjType}}Input): {{.ObjType}}
{{ end }}
}

{{ range . }}
input {{.ObjType}}Input {
{{- range .Inputs }}
  {{ .Name }}: {{ GetFieldType . }}
{{- end }}
}
{{ end }}

{{ range . }}
type {{.ObjType}} {
{{- range .Fields }}
  {{ .Name }}: {{ GetFieldType . }}
{{- end }}
}
{{ end }}
