ATTACH DATABASE "{{.InputDatabase}}" as input;
{{ range .Tables }}
CREATE TABLE {{.Name}} ( "id" text, {{FieldsForCreate .}} );
INSERT INTO {{.Name}} ( "id", {{FieldsForInsert .}} )
SELECT "ROWID", {{FieldsForSelect .}} FROM input.{{.Name}};
{{ end }}
