ATTACH DATABASE "{{.InputDatabase}}" as input;
{{ range .Tables }}
CREATE TABLE {{.Name}} ( "id" text primary key, {{FieldsForCreate .}} );
INSERT INTO {{.Name}} ( "id", {{FieldsForInsert .}} )
SELECT cast("ROWID" as text), {{FieldsForSelect .}} FROM input.{{.Name}};
{{ end }}
